h1{
    color:white;
    background-color:#222222;
    padding:0.5em;
    text-align: center;
}
#logo{
    float:left;
    margin:1em -2em 1em 1em;
    width: 150px;
}

#carouselExampleSlidesOnly img {
    height: auto;
}

