<!-- NAVBAR -->
<nav id="navbar" class="navbar fixed-top navbar-expand-xl navbar-header navbar-mobile">
    <div class="navbar-container container">
        <!-- LOGO -->
        <div class="navbar-brand">
            <a class="navbar-brand-logo logo" href="\index.html">
                <img src="assets\botslovers_logo.png">
            </a>
            <a class="navbar-brand-logo logo-scroll" href="\index.html">
                <img src="assets\botslovers_logo.png">
            </a>
            <br>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <ul class="navbar-nav menu-navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="home">
                        <p class="nav-link-menu">Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/quienessomos">
                        <p class="nav-link-menu">Quienes Somos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#que">
                        <p class="nav-link-menu">Que Hacemos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/modelodenegocio">
                        <p class="nav-link-menu">Modelo de Negocio</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="#faq">
                        <p class="nav-link-menu">FAQs</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link-menu" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Recursos </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item nav-link-menu" href="https://www.botslovers.com/blog">Blog</a></li>
                        <li><a class="dropdown-item nav-link-menu" href="https://www.botslovers.com/prensa">Prensa</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link learn-more-btn btn-header" href="https://www.botslovers.com/"
                        style="white-space: nowrap;">Ver web de Botslovers</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
