<header>
    <a href="index.html"><img id="logo" src="./assets/logoInnova.png" alt="logo Las Rozas Innova"></a>
    <h1 class="text-center">{{titulo}}</h1>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/imagen1.jpg" class="d-block w-100" alt="imagen 1">
          </div>
          <div class="carousel-item">
            <img src="./assets/imagen2.jpg" class="d-block w-100" alt="imagen 1">
          </div>
          <div class="carousel-item">
            <img src="./assets/imagen3.jpg" class="d-block w-100" alt="imagen 1">
          </div>
        </div>
      </div>

</header>
