h1{
    color:white;
    background-color:#222222;
    padding:0.5em;
    text-align: center;
}
#logoizq{
    float:left;
    margin:1em -2em 1em 1em;   
}
#logoder{
    float:right;
    margin:1em 1em;
    
}

#carouselExampleSlidesOnly img {
    height: auto;
}

