<header>
    <nav>
        <ul>
            <li><a href="https://lasrozasinnova.es/" target="_blank"><img src="./assets/logoInnova.png" width="40px" alt="logo Las Rozas Innova"></a></li> 
            <li><a href="https://lasrozasinnova.es/un-espacio-de-divulgacion-y-encuentro/" target="_blank">Blog</a></li>
            <li><a routerLink="">Sobre nosotros</a></li>
        </ul>
    </nav>
    
        
    <div class="cabecera">
            <a href="index.html"><h1 class="text-center">{{titulo}}</h1></a>
    </div>

</header>
