footer {
    padding: 3em;
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 2em;
}
img {
    margin: 1em 1.5em;
}

footer p {
    font-size: 1em;
}
a {
    color: white;
}