.footer-section {
    padding-top: 200px;
    padding-bottom: 25px;
    margin-bottom: 0px!important;
    position: relative;
    background-size: cover;
    background-color: #080b3c;
    color: #ffffff;
}