<footer class="text-center">
    <div>
        <img src="./assets/LogoLRZ.png" width="130px" alt="logo de Las Rozas Innova">
        <a href="https://www.lasrozas.es" target="_blank"><img src="./assets/logo_ayto.png" width="130px" alt="logo Ayuntamiento de Las Rozas"></a>
    </div>
    <div>
        <p>© Empresa Municipal de la Innovación y Desarrollo Tecnológico de Las Rozas de Madrid, S.A.</p>
        <p>C/Jacinto Benavente 2A.  Planta 1ª Sur (Edificio Tripark) 28232 – Las Rozas de Madrid</p>
        <p>Teléfono +34 91 318 6280 | info@lasrozasinnova.es</p>
        <p>Aviso Legal | Política de Cookies | Política de Privacidad | Contacto</p>
    </div>
</footer>