<div class="features-section">
    <div class="container features-container">
        <div class="col-md-12 features-title-section">
            <p class="features-subtitle">Mucho más que ofrecer</p>
            <h2 class="features-title">Bots más humanos y muchas funcionalidades</h2>
        </div>
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="ft-1">
                <h3>Omnicanalidad</h3>
                <p class="features-text">Conecta tu proyecto a todos los canales que quieras (WhatsApp, Web, Facebook, Instagram...) y de forma automática se adaptará a ellos, no tienes que hacer nada.						</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="ft-2">
                <h3>Cuentas verificadas</h3>
                <p class="features-text">Obtén la verificación de tus redes sociales para dar más confianza a tus usuarios. ¿Quieres el tick verde de WhatsApp? Con Botslovers lo tienes!</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="ft-3">
                <h3>Plataforma de gestión</h3>
                <p class="features-text">Ten el control de tu proyecto en todo momento. Gracias a Bot Platform podrás gestionar todo el conocimiento del asistente virtual y visualizar las métricas</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="ft-4">
                <h3>Envío de notificaciones</h3>
                <p class="features-text">Envía mensajes proactivos a tus usuarios en cualquier canal de forma automática para mejorar la experiencia entre cliente y empresa. ¿El pedido está en camino? Díselo por WhatsApp!</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="ft-5">
                <h3>El poder de la voz</h3>
                <p class="features-text">La voz es la interfaz más natural y sencilla. Ház que tus usuarios hablen con tu empresa conectando tu asistente con Alexa, Google Assistant o a tu teléfono. Se sorprenderán!</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-5">
            <div class="ft-6">
                <h3>Sistema flexible</h3>
                <p class="features-text">Conecta la plataforma con cualquiera de tus sistemas para potenciar la experiencia. Envía notificaciones con tu CRM, guarda los pedidos en tu ERP... Lo que quieras!</p>
            </div>
        </div>
    </div>
</div>
