<div class="quitaMargen">
    <h2 class="subheader" id="mas-informacion" >Conoce nuestro proyecto</h2>
</div>

<div class="container">
<div>  
    <h3 class="text-center">¿Quiénes somos?</h3>  
    <p>Somos <span class="bold">4 alumnas del Bootcamp de programación Front-end</span>, impartido por Bejob de la mano de Las Rozas Innova en 2023:</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/mar-sanchis-front-end-developer/" target="_blank">Mar Sanchis Matías</a>: Ingeniera técnica de Telecomunicaciones | Front-end developer</li>
        <li><a href="https://www.linkedin.com/in/irene-bidon-gomez-graphic-design-web/" target="_blank">Irene Bidón Gómez</a>: Licenciada en Publicidad y RRPP | Diseñadora gráfica y web</li>
        <li><a href="https://www.linkedin.com/in/dianamoyarodriguez/" target="_blank">Diana Moya Rodríguez</a>: Licenciada en Publicidad y RRPP | Diseñadora gráfica y web</li>
        <li>Silvana Zubiri: por completar!!!!!</li>
    </ul>
    <p>Éste es nuestro proyecto final del curso intensivo de programación Front-End al que hemos asistido.</p>
    <h3 class="text-center">Contexto del reto:</h3>  
    <p>Tras una revisión exhaustiva de la web de <a href="https://lasrozasinnova.es" target="_blank" >Las Rozas Innova</a>, y ver un post publicado donde se facilitaba en unas líneas 4 empleos en Las Rozas y un mail para contactar, detectamos una necesidad aún por cubrir y que era interesante abordar:</p>
    <p class="bold">La necesidad de poner en contacto profesionales disponibles en Las Rozas y empresas que buscan talento en Las Rozas.</p>
<p>Según el Estudio de movilidad Residencia-Trabajo realizado por la Comunidad de Madrid, tenemos la suerte de contar con el municipio (junto con Pozuelo) que más trabajadores atrae en Madrid.</p>
<p>Además, somos el tercer municipio con menos paro de España.</p>
<p>Todo esto, y nuestra propia experiencia como desempleadas que viven en las Rozas, nos hizo darnos cuenta de <span class="bold">lo importante que es para la conciliación y la calidad de vida trabajar cerca de casa</span>.</p>
<p>Algo que puede hacerte destacar frente a otros perfiles similares, es el hecho de vivir en el mismo lugar en el que se ubica el trabajo, las empresas prefieren contratar a personas del municipio por la cercanía y por la fidelización de ese trabajador.</p>
<h3 class="text-center">Propuesta y metodología:</h3>  
<p>Y es por ello por lo que hemos querido realizar una landing page que forme parte de la web Las Rozas Innova, en la que:</p>
    <ul>
        <li>Los <span class="bold">profesionales que viven en Las Rozas</span> y buscan trabajo puedan dar a conocer su perfil y aplicar a las ofertas</li>
        <li>Las <span class="bold">empresas de Las Rozas</span> puedan publicar sus ofertas y ver los perfiles de profesionales de Las Rozas que se publicitan.</li>
    </ul>
<p>Todo ello empleando el <span class="bold">framework Angular con el lenguaje de programación Typescript, basado en el modelo Single Page Aplication (SPA)</span>.</p>
<a href="#formularios"><button class="botonEnviar separa">RELLENAR SOLICITUD</button></a>


</div>
</div>
