<div class="quitaMargen">
    <h2 class="subheader" id="mas-informacion" >Conoce nuestro proyecto</h2>
</div>

<div class="container text-center">
    <h3>¿Quiénes somos?</h3>  
    <p>Somos <span class="bold">4 alumnas del Bootcamp de programación Front-end de Las Rozas Innova</span> e impartido por Bejob en 2023:</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/mar-sanchis-front-end-developer/" target="_blank">Mar Sanchis Matías</a>: Ingeniera técnica de Telecomunicación | Front-end developer</li>
        <li><a href="https://www.linkedin.com/in/irene-bidon-gomez-graphic-design-web/" target="_blank">Irene Bidón Gómez</a>: Licenciada en Publicidad y RRPP | Diseñadora gráfica y web</li>
        <li><a href="https://www.linkedin.com/in/dianamoyarodriguez/" target="_blank">Diana Moya Rodríguez</a>: Licenciada en Publicidad y RRPP | Diseñadora gráfica y web</li>
        <li><a href="https://www.linkedin.com/in/silvana-zubiri-rubino-88b51b2a6/" target="_blank">Silvana Zubiri Rubino</a>: Técnico Superior en Turismo</li>
    </ul>
    <p>Éste es nuestro <span class="bold">proyecto final</span> del curso intensivo de Programación Front-End al que hemos asistido. A continuación exponemos los datos del mismo.</p>
    <h3>Contexto del reto:</h3>  
    <p>Tras una revisión exhaustiva de la web de <a href="https://lasrozasinnova.es" target="_blank" >Las Rozas Innova</a>, y ver una publicación en su LinkedIn donde se facilitaba en unas líneas empleos en Las Rozas y un email para contactar, detectamos una necesidad aún por cubrir y que era interesante abordar:</p>
    <p class="bold">La necesidad de poner en contacto profesionales disponibles en Las Rozas y empresas que buscan talento dentro del municipio.</p>
    <p>Según el Estudio de movilidad Residencia-Trabajo realizado por la Comunidad de Madrid, somos el municipio (junto con Pozuelo) que más trabajadores atrae en Madrid.</p>
    <p>Además, los residentes en Las Rozas tenemos el honor de contar con el <span class="bold">mayor número de población con estudios superiores de toda España</span>.</p>
    <p>Por lo que las empresas ubicadas en Las Rozas que demanden <span class="bold">empleados muy cualificados</span>, tienen muchas posibilidades de que el talento que buscan esté entre los propios vecinos del municipio. Y esto supone un <span class="bold">win-win para ambas partes</span>:</p>
    <ul>  
        <li>Los empleados ahorran tiempo en sus desplazamientos, favoreciendo la calidad de vida junto con su conciliación personal y profesional.</li>
        <li>Y las empresas consiguen una mayor fidelización de sus trabajadores.</li>
    </ul> 
    <h3>Propuesta y metodología:</h3>  
    <p>Hemos realizado este desarrollo para que pueda integrarse dentro de la propia web Las Rozas Innova, en el objetivo de:</p>
    <ul>
        <li>Los <span class="bold">profesionales que viven en Las Rozas y busquen trabajo de cercanía</span> puedan dar a conocer su perfil mediante un sencillo <span class="bold">formulario</span> y aplicar a las ofertas de las empresas.</li>
        <li>Las <span class="bold">empresas de Las Rozas</span> tengan una web más específica donde publicar sus ofertas y acceso a un <span class="bold">listado de los perfiles profesionales</span> roceños que les puedan interesar.</li>
    </ul>
    <p>Todo ello empleando <span class="bold">Angular, framework de JavaScript</span> de código abierto escrito en TypeScript (JavaScript con tipado estático).</p>
    <p>Y basado en el modelo de páginas web <span class="bold">Single Page Aplication (SPA)</span> que no requieren recarga de la página.</p>
      <a href="#formularios"><button class="botonEnviar separa text-center">IR A FORMULARIOS</button></a>

    <div class="fotogrupo">
        <figure>
            <img src="./assets/mar-sanchis.jpg" width="245px" alt="Mar Sanchis">
            <figcaption>Mar Sanchis</figcaption>
        </figure>
        <figure>
            <img src="./assets/diana-moya.jpg" width="245px" alt="Diana Moya">
            <figcaption>Diana Moya</figcaption>
        </figure>
        <figure>
            <img src="./assets/irene-bidon.jpg" width="245px" alt="Irene Bidón">
            <figcaption>Irene Bidón</figcaption>
        </figure>
        <figure>
            <img src="./assets/silvana-zubiri.jpg" width="245px" alt="Silvana Zubiri">
            <figcaption>Silvana Zubiri</figcaption></figure>
    </div>
</div>
