.fotogrupo {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    

}
.fotogrupo figure {
    overflow: hidden;
    align-items: center;
    margin: 1em;
}

.fotogrupo figcaption {
    font-style: italic;
    color:#3D3E4A;
}

@media (max-width:900px) {
    ul li {
        margin-left: 2em;
    }
}