*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
/* .logo{
    background-color: rgb(43, 187, 98);   
}  */
.logo img{
    width: 100px;  
} 
.central{
    /* background-color:red; */
    color: white;
} 
h1{
    padding: 25px;
}

.derecha{
    /* background-color: grey; */
     padding: 25px;
  
} 

 .login{
    align-items: end;
    text-align: center;
    padding-top: 25px;
    
} 
 /* header div{
    background-color: rgb(50, 50, 194);
    display: inline-block;
    height: 100px;
    
  }   */

   

/* .logo{
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgb(43, 187, 98);   
} */

/* .central{
    width: 50%;
    background-color:red;
    vertical-align: middle;
    text-align: center;
    color: white;
} */


/* .derecha{
    background-color: grey;
    vertical-align: middle;
    margin-left: 100px;
    
} */

/* .login{
    align-items: center;
    text-align: center;     
} */



/* div{
    background-color:#fabada;
    margin: 20px;
    display: inline-block;
}
.ancho{
    width: 40%;
    display: none;
    /* visibility: hidden;
}
span{
    background-color: #cacaca;
    display: block;
} */