<div class="container">

    <table>
        <tr>
            <td class="fabada">usuario</td>
            <td> <input type="text"  [(ngModel)]="texto"></td>
        </tr>
        <tr>
            <td>clave</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td colspan="2"><button >entrar</button></td>
           
        </tr>
    </table>
  <h1 *ngIf="ver">{{texto}}</h1>
  <button (click)="cambiarValor()">cambiar valor de texto</button>
  <button (click)="verTexto()">ver texto</button>
  <button (click)="cambiarVer()">cambiar h1</button>
  <button (click)="ordenarNumeros()">ordenar</button>
  <table ngClass="table table-bordered" >
    <tr *ngFor="let numero of numeros ">
        <td ngClass="text-center">{{numero}}</td>
  </table>
    <app-error></app-error>
</div>   