h2{
    color:#00B5A8;
}

form{
    max-width: 30em;
    margin: 4em auto;
    position: relative;
    background: #f4f4f4;
    padding: 2em 3em;
}

form input{
    background: #fff;
    border-left: 4px solid #00B5A8;
    padding: 1em;
    margin: 1em auto;
    color: #666; 
}

form input[type=text]::placeholder{
    color:#666; 
}

form.input-group-text{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 1em 23px;
    color: #fff;
    position: absolute;
    right: 13px;
    top: 68px;
    cursor: pointer;
}

form.form-control{
    height: 3em;
}
form.form-control:focus{
    box-shadow: 0;
}

.caja {
    background: white;
    border-radius: 5px; 
    border: 1px solid #00B5A8;
    border-left: 4px solid #00B5A8;
    margin: 1em auto;
    overflow: hidden;
    padding: 1em;    
 } 

