<div class="quitaMargen">
  <h2 class="subheader">Vacantes disponibles</h2>
</div>


<form> 
  <h3 class="center">Publica el puesto de trabajo ofertado</h3>
  <input class="form-control" [(ngModel)]="empresaData.puesto" name="puesto" placeholder="Nombre del puesto">
  <input class="form-control" [(ngModel)]="empresaData.nombre" name="empresa" placeholder="Empresa empleadora">
  <input class="form-control" [(ngModel)]="empresaData.enlace" name="enlace" placeholder="Enlace a la descripción del puesto">
  <button class="botonEnviar" (click)="guardaDatos(empresaData)">ENVIAR</button>
</form>

<h4 class="text-center">Vacantes demandadas en Las Rozas</h4>

<div class="bloquePerfiles">
  <div class="caja" *ngFor="let item of empresas">
    <p><strong>Puesto:</strong> {{item.puesto}}</p>
    <p><strong>Empresa:</strong> {{item.nombre}}</p>
    <p><strong>Oferta en Linkedin: </strong><a href="{{item.enlace}}">Ver vacante</a></p>
  </div>
</div>


