<div class="features-section mt-5">
  <div class="container features-container">
    <div class="col-md-12 features-title-section">
      <p class="features-subtitle">Mucho más que ofrecer</p>
      <h2 class="features-title">Bots más humanos y muchas funcionalidades</h2>
    </div>
    
      <div class="col-md-4 col-sm-12 mb-5" >
        <div class=" co ft-1 h-100">
          <h3 class="text-center">Botslovers</h3>
          <p >Es una compañia de ingeniería de software especializada en Inteligencia artificial

          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-5" >
        <div class="co ft-2 h-100">
          <h3 class="text-center">Nuestra propuesta de valor</h3>
          <p >"Hacemos que sea fácil para cualquier empresa aprovechar el
          poder de la ÍA conversacional y generativa para la atención al cliente y ventas"</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-5" >
        <div class="co1 ft-3 h-100">
          <h3 class="text-center">El proyecto</h3>
          <p>Consiste en una plataforma SaaS No-Code que mejora la rentabilidad y la eficiencia operativa de las empresas permitiéndoles configurar y desplegar fácilmente asistentes virtuales potenciados por ÍA.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-5">
        <div class="ft-4 h-100">
          <h3>Valor añadido</h3>
          <p class="features-text text-center text-justify flex-grouw-1">
            El valor añadido que ofrecemos radica en que la plataforma se puede activar
            -sin necesidad de conocimientos técnicos- en cualquier canal (Web, WhatsApp, Aplicaciones Móviles, Redes
            Sociales y Puntos de Venta Físicos) </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-5">
        <div class="ft-5 h-100">
          <h3>Idioma</h3>
          <p class="features-text text-center text-justify flex-grouw-1">Puedes obtener la aplicación en cualquier idioma.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-5" >
        <div class="ft-6 h-100">
          <h3>Suscripción</h3>
          <p class="features-text text-justify flex-grouw-1">Además la plataforma se ofrece bajo una suscripción mensual
            sin límite de usuarios.</p>
        </div>
      </div>
    
  </div>
</div>
