/* CSS 1) Cajitas de colores */
.primercontenedor{
  margin-top: 100px;
  margin-bottom: 50px;
}

.parrafos,.titulos{
  color:black;
  font-weight: 700;
  font-size: 25px;
 font-style: oblique;
 margin-bottom: 50px;
 /* margin-top: -50px; */

}
/* .parrafos{
margin-bottom: 50px;

} */

/* CSS Jorge */ 
/* .contenedor{
  margin-bottom: 60px;
}

.tamano{
  width: 75%; 
  margin: auto
}




.mt-5 {
  margin-top: 0 !important;
}

.ft-1 {
  background-color: #484c82;
}

.ft-2 {
  background-color: #676ba5;
}

.ft-3 {
  background-color: #8d92cc;
}

.ft-4 {
  background-color: #e0737e;
}

.ft-5 {
  background-color: #e29ca3;
}

.ft-6 {
  background-color: #e2bfc2;
}

.blanco {
  color: white;
}

.rojo {
  color: #e4202d;
}

.ft-1 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  }

.ft-2 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  }

.ft-3 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  }

.ft-4 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  }

.ft-4 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  }

.ft-5 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  }

.ft-6 h3::before {
    content: none;
    position: absolute;
    display: block;
    margin-top: -70px;
  } */