<div class="jumbotron backazul">
    <h2 class="header-title blanco">Nuestra <span>solución</span></h2>
    <p class="header-subtitle blanco">Nuestra solución es innovadora por ser nativa en IA. Utiliza Procesamiento del Lenguaje Natural desde hace 4 años e incluso, un año antes del lanzamiento de ChatGPT por parte de OpenAI, ya integraba IA Generativa como tecnología para generar respuestas por parte de los asistentes virtuales en servicios al cliente y ventas.</p>
    <hr class="my-4">
    <p class="header-title-text blanco">La capacidad de impacto de nuestra solución se demuestra por su capacidad de automatizar hasta un 90% de las interacciones con clientes para empresas como Mercadona, Alcampo, Carrefour, Porsche, Siemens, Meta, Netflix, Pikolin, Arajet.</p>

    <h3>Plataforma SaaS de Inteligencia Artificial Conversacional para la <span class="rojo">automatización del servicio al cliente y ventas</span>.</h3>
    <div class="row espacioextra">
        <div class="col backblanco">
            <h4>Qué hace por tu empresa</h4>
            <ul>
                <li class="blanco logolist">Atiende Ias solicitudes de los clientes de manera rápida, precisa, 24 horas al día, 7 días de la semana.</li>
                <li class="blanco logolist">Permite que cualquier empresa configure y despliegue fácilmente asistentes virtuales sin conocimientos técnicos.</li>
                <li class="blanco logolist">Responde a Ias solicitudes de los clientes utilizando IA generativa ajustada con los propios datos de Ias empresas, obtenidos de sitios web, CRMs, ERPs, Knowledge bases, PDFs, imágenes, audios y más.</li>
                <li class="blanco logolist">Reduce drásticamente el costo por respuesta.</li>
            </ul>
        </div>
        <div class="col backblanco2">
            <h4>Ventajas competitivas</h4>
            <ul>
                <li class="blanco">Datos propietarios. Contamos con modelos de datos para IA que han venido siendo afinados durante varios años con millones de interacciones con clientes de grandes empresas en sectores de retail, telecomunicaciones y servicios.</li>
                <li class="blanco">Balanceador de LLMs. Hemos desarrollado un balanceador propietario de Large Language Models con el objetivo de optimizar los costes de IA Generativa para nuestros clientes. Este balanceador es único en el mercado y permite elegir, en tiempo real, el LLM que ofrece la mayor costo-eficiencia y precisión para generar respuestas con IA generativa.</li>
                <li class="blanco">Enfoque estratégico. Nos centramos estratégicamente en los mercados de habla hispana y utilizamos Large Language Models entrenados.</li>
            </ul>
        </div>
      </div>

    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
