/*Google fonts@import url('https://fonts.googleapis.com/css?family=Poppins:wght@700');
*/
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
 
}
.bloquesMenu{
    text-align: center;
    display:flex;
    flex-direction: row;
    margin:1em 6em;
}

