
<div class="quitaMargen">
    <h1 class="subheader">Perfiles profesionales</h1>
</div>

  
  <form>
    <div class="form-group">
      <h2 class="text-center">Publica tu perfil para que las empresas te encuentren</h2>
  
      <div class="input-group-prepend">
        <input class="form-control" [(ngModel)]="particulares.profesion" name="profesion" placeholder="Puesto de trabajo deseado">
        <input class="form-control" [(ngModel)]="particulares.linkedin" name="linkedin" placeholder="Enlace a tu perfil de LinkedIn">
        <button (click)="guardaDatos(particulares)"> Enviar</button>
      </div>
    </div>
  </form>

  <div class="caja">
    <p *ngFor="let perfil of perfiles">Profesión: {{perfil.profesion}} - Perfil en Linkedin: {{perfil.linkedin}}</p>
  </div>
