
<div class="quitaMargen">
    <h2 class="subheader">Perfiles profesionales</h2>
</div>

<div class="container">
  <form>   
    <h3 class="text-center">Publica tu perfil para que las empresas te encuentren</h3>
    <input class="form-control" [(ngModel)]="particulares.profesion" name="profesion" placeholder="Puesto de trabajo deseado">
    <input class="form-control" [(ngModel)]="particulares.linkedin" name="linkedin" placeholder="Enlace a tu perfil de LinkedIn">
    <button class="botonEnviar" (click)="guardaDatos(particulares)">ENVIAR</button>   
  </form>
 <h4 class="text-center">Perfiles profesiones publicados</h4>

  <div class="bloquePerfiles">
    <div class="caja" *ngFor="let perfil of perfiles">
      <p><strong>Profesión:</strong> {{perfil.profesion}}</p>
      <p><strong>Perfil en Linkedin: </strong><a href="{{perfil.linkedin}}">Ver perfil</a></p>
    </div>
  </div>
</div>