
<div class="quitaMargen">
    <h2 class="subheader">Perfiles profesionales</h2>
</div>

<div class="container">
  <form action="" method="POST">   
    <h3 class="text-center">Publica tu perfil para que las empresas te encuentren</h3>
    <input class="form-control" [(ngModel)]="particulares.profesion" name="profesion" placeholder="Puesto de trabajo deseado" required minlength="3" maxlength="100">
    <input class="form-control" [(ngModel)]="particulares.linkedin" name="linkedin" placeholder="Enlace a tu perfil de LinkedIn" required minlength="3" maxlength="100">
    <button class="botonEnviar" (click)="guardaDatos(particulares)">ENVIAR</button>   
  </form>
 <h4 class="text-center">Todos los perfiles profesionales publicados:</h4>

  <div class="bloquePerfiles">
    <div class="caja" *ngFor="let perfil of perfiles">
    <ul>
      <li><strong>Profesión:</strong> {{perfil.profesion}}</li>
      <li><strong>Perfil Linkedin: </strong><a href="{{perfil.linkedin}}">ver</a></li>
    </ul>
  </div>
</div>