#principal{
    font-weight: bold;
    margin:1em auto;
    padding:2em;
}

#botonesprincipal{
    display:flex;
    margin:1em auto;
}

.bloque1{
    flex-direction: row;
    flex-wrap: wrap;   
    width:50%;
    display: block;
    background-color:#009186;
    margin-right: 2em;
    border-radius: 5px;
    
}
.bloque2{
    flex-direction: row;
    flex-wrap: wrap;   
    width:50%;
    display: block;
    background-color:#009186;
    border-radius: 5px;
    
}
.bloque a{
    padding: 3em;
}

