#principal{
    margin:1em auto 2em auto;
    padding:2em;
}
#principal p{
    margin:1em auto 0 auto;
}

#botonesprincipal{
    display:flex;
    margin:1em auto;
}
#botonesprincipal P{
    color:white;
    font-weight: bold;

}

.bloque1{
    width:50%;
    display: block;
    background-color:#009186;
    margin-right: 2em;
    border-radius: 5px;
    
}
.bloque2{ 
    width:50%;
    display: block;
    background-color:#009186;
    border-radius: 5px;
    
}
.bloque a{
    padding: 3em;
}

@media(max-width:700px){
    div.bloque1,div.bloque2{ width: 100%;}
}
