<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" class="quitaMargen">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/apreton-manos.jpg" class="d-block w-100" alt="Imagen no encontrada" title="apretón de manos entre profesionales">
      </div>
      <div class="carousel-item">
        <img src="./assets/reunion-trabajo-profesional.jpg" class="d-block w-100" alt="Imagen no encontrada" title="reunión de trabajo profesional, detalle de mesa y brazos">
      </div>
      <div class="carousel-item">
        <img src="./assets/profesional-con-tablet.jpg" class="d-block w-100" alt="Imagen no encontrada" title="primer plano de profesional usando tablet en el trabajo">
      </div>
    </div>
  </div>

<div class="container">
<div id="principal" class="text-center">
    <h2>¿Buscas trabajo cualificado en Las Rozas?<br>Las Rozas T-Emplea</h2>  
    <p>Conectamos <strong>CUIDADANOS en búsqueda activa de empleo</strong> con las <strong>EMPRESAS</strong> instaladas en <strong>Las Rozas</strong>.</p>
    <h3>Nuestro objetivo:</h3><p>Mejorar la empleabilidad en nuestra localidad facilitándoles a los profesionales <strong>ofertas de empleo de calidad y cercanía</strong>, y a las empresas el <strong>talento adecuado</strong> para potenciar su negocio.</p>
</div>

<div id="botonesprincipal" class="text-center">
    <div class="bloque1">
    <a routerLink="/alta-profesionales" class="btn btn-lg #009186">        
            <img src="./assets/iconoprofesional.png" width="200px" alt="icono">
            <p>PROFESIONALES</p>       
    </a>
    </div>
    <div class="bloque2">
        <a routerLink="/empresas" class="btn btn-lg #009186">      
            <img src="./assets/iconoempresas.png" width="200px" alt="icono">
            <p>EMPRESAS</p>     
        </a>
    </div>
</div>
</div>

