
<div id="principal" class="text-center">
    <h1>¿Buscas trabajo en Las Rozas?<br>Las Rozas T-Emplea</h1>
   
    <p>Conectamos ciudadanos con las empresas instaladas en Las Rozas para facilitarles.....</p>
</div>

<div id="botonesprincipal" class="text-center">
    <div class="bloque1">
    <a routerLink="/particulares" class="btn btn-lg #009186">        
            <img src="./assets/iconoprofesional.png" width="200px" alt="icono">
            <p>Profesionales</p>       
    </a>
    </div>
    <div class="bloque2">
        <a routerLink="/empresas" class="btn btn-lg #009186">      
            <img src="./assets/iconoempresas.png" width="200px" alt="icono">
            <p>Empresas</p>     
        </a>
    </div>
</div>

