.overview_calendar {
  .ant-picker-calendar {
    border-radius: 0.5rem;
    background-color: #fdfdfd !important;
    .ant-picker-panel {
      background-color: #fdfdfd !important;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}

.ant-picker-calendar-date {
  background: transparent !important;
}
.ant-radio-button-wrapper {
  &:hover {
    color: #f30005;
  }
}
.ant-select-selector {
  &:hover {
    border-color: #f30005 !important;
  }
}
.ant-radio-button-wrapper-checked {
  border-color: #f30005 !important;
  color: #f30005 !important;
  &::before {
    background-color: #f30005 !important;
  }
}
.ant-picker-calendar-date-today {
  &::before {
    border: 1px solid #f30005 !important;
    border-radius: 99rem !important;
  }
}
.ant-picker-cell-selected {
  div {
    border: none !important;
    border-radius: 100%;
    background-color: #f30005;
  }
}
.ant-picker-cell {
  z-index: 0 !important;
}

.red-cell {
  background-color: #25cd6b;
}
.blue-cell {
  background-color: #156e3a;
}
.verde-cell {
  background-color: #F30005;
}

.green-cell {
  background-color: #cecece;
}
.react-calendar {
  border-radius: 0.5rem;
  background-color: #fdfdfd !important;
  width: 100%;
  .react-calendar__navigation {
    background-color: #fdfdfd !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .react-calendar__tile--active {
    background: white;
    color: black;
  }
  .react-calendar__tile--active:enabled:focus {
    background: white;
  }
  abbr{
    display: none;
  }
  
}

