/* You can add global styles to this file, and also import other style files */
 @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins.ttf');
  } 

h1,h2,h3,h4 {
    font-family: 'Poppins';  
}

h2 {
  color:white;
}
h3 {
  color:#009186;
  margin: 1em auto;
}
h4{
  color:#009186;
  padding-top:1em;
  border-top:2px solid #00B5A8;
}
.subheader{
  color:white;
  text-align: center;
  background-image: url("./assets/subheader.jpg");
  padding: 2em;
  background-position: center; /* Center the image */
  background-repeat: repeat;
}

p {
    font-size: 1.2em;
}

form{
  width: 80%;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
  text-align: center;
  
}

form input{
  background: #fff;
  border-left: 4px solid #00B5A8;
  padding: 1em;
  margin: 1em auto;
  color: #666; 
  width: 50%;
}

form input[type=text]::placeholder{
  color:#666; 
}

form input.form-control{
  height: 3em;
  width: 70%;
}
@media(max-width:768px){
  form input.form-control{ width: 100%;}
  div .caja {width: 100%;}
}

form.form-control:focus{
  box-shadow: 0;
}
.botonEnviar{
  color:white;
  background-color: #009186;
  border:1px solid #009186;
  padding:0.5em 1em;
  border-radius: 5px;
  font-weight: bold;
}
.botonEnviar:hover{
  background-color: #222222;
  border:1px solid white;
}

.bloquePerfiles{
  display:flex;
  width: 100%;
}

.caja {
  flex-direction: row;
  flex-wrap: wrap;
  width: 33.3%;
  background: #fff;
  border-radius: 5px; 
  border: 2px solid #00B5A8;
  margin: 1em 0.5em;
  overflow: hidden;
  padding: 0.5em;    
} 

.quitaMargen{
  margin-top:-0.5em;
}

.imagenIzq{
  float:left;
  margin:1.5em 1em;
}

ul{
  list-style-type: none;
  font-size: 1.1em;
  margin-left: 1em;
}
ul li{
  margin:1em auto;
}