    <div class="center">
 
    <div class="stack-area ">
        <div class="col-md-6 header-img-section right change4 ">
			<img class="col-md-12  "  src="assets\Inicio-app.png">

        </div>
       
        <div class="right">
            <div class="cards change1">
                <div class="card change">
                    <div class="sub">Bootcamp Las Rozas Innova</div>
                    <div class="content ">Integrantes del proyecto</div>
                </div>
                <div class="card change">
                    <div class="content">Ana</div>
                    <div class="content">Misera</div>
                </div>
                <div class="card change">
                    <div class="content">Jorge</div>
                    <div class="content">Gandia</div>
                </div>
                <div class="card change">
                    <div class="content">Manuel</div>
                    <div class="content">Noriega</div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="container header-container">
      <div class="col-md-6 header-title-section" Class="{'mobile-style': isMobile}">
        <p class="header-subtitle">Presentación Reto</p>
        <h1 class="header-title">Equipo <span>formado por</span> Ana Isabel, Andrés, Jorge y Manuel</h1>
        <p class="header-title-text">Tecnologías utilizadas: <span><b style="color: #e4202d">Angular</b></span> y <span><b style="color: #e4202d">Bootstrap</b></span></p>
      </div>
    </div>
  </div>