body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  font-size: 14px !important;
}
select {
  font-size: 14px !important;
}
.toggle-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button:hover {
  background-color: #eee;
}

.toggle-button.encendido {
  background-color: #4caf50;
  color: #fff;
}

.toggle-button.apagado {
  background-color: #f44336;
  color: #fff;
}  
